<!DOCTYPE>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet" media="screen">
</head>
    <body>
        <h1>Hello, Please Enter a Topic</h1>
          <form action="." method="POST">
            <input type="text" name="topic">
            <input type="submit" name="index" value="Send">
          </form>
    </body>
</html>
